body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    z-index:9999;
    width: 100%;
}
.header-left {
    display: flex;
    align-items: center;
    width: 25%;
    min-width: 0;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-image {
    height: 40px;
    margin-right: 10px;
}
.logo-text {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo:hover {
    opacity: .75;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}
.storefront-button, .logout-button {
    text-decoration: none;
    color: white;
    background-color: #007ca5;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
}
.storefront-button:hover, .logout-button:hover {
    background-color: #007ca5;
}
.sidebar {
    width: 220px;
    background-color: #ffffff;
    box-shadow: 2px 0 4px rgba(0,0,0,0.1);
    padding-top: 70px;
    position: fixed;
    height: 100%;
}
.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}
.sidebar-nav ul li {
    margin: 15px 20px;
}
.sidebar-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.sidebar-nav ul li a:hover {
    color: #00bfff;
}
.main-content {
    margin-left: 220px;
    padding: 80px 20px 20px 20px;
    flex-grow: 1;
    background-color: #f9f9f9;
    height: 100vh;
    overflow-y: auto;
}

    /* adding messages */
.messages {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0; /* Space below messages */
}
.message {
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: fadeIn 0.3s ease;
}
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}