{% extends 'auroraadmin/base.html' %}
{% load static %}
{% block title %}Product Inventory{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'auroraadmin/css/product.css' %}">
{% endblock %}
{% block main_content %}

<div class="inventory-container">
    <div class="inventory-header">
        <h1 class="inventory-title">Product Inventory</h1>
        <div class="row-control">
            <form method="GET" action="{% url 'auroraadmin:product' %}" class="search-filter-group">
                <input type="text" name="q" class="search-input" placeholder="Search products..." value="{{ search_query|default:'' }}">
                <button tpe="submit" class="filter-button">Check</button>
            </form>
            {% if search_query %}
                <form method="GET" action="{% url 'auroraadmin:product' %}" >
                    <button type="submit" class="filter-button">Clear</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <form method="GET" action="{% url 'auroraadmin:product' %}" style="display:inline-block">
            <!-- preserve exisiting search querty -->
            <input type="hidden" name="q" value="{{ search_query|default:'' }}">
            <label for="category-select" style="font-weight:600; margin-right:8px;">Category:</label>
            <select id="category-filter" name="category" onchange="this.form.submit()" style="padding:6px 10px; border-radius:6px; border:1px solid #ddd;">
                <option value="All">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
        </form>

        {% if selected_category and selected_category != 'All' %}
            <a href="{% url 'auroraadmin:product' %}" class="filter-button" style="text-decoration: none; margin-left: 10px;">Clear Filters</a>
        {% endif %}

        <!--Add Product Button-->
        <a href="{% url 'auroraadmin:product_add' %}" class="filter-button" style="float:right; background-color:#00bfff; color:white; border:none; text-decoration:none;">
            + Add Product
        </a>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.sku_code }}</td>
                <td><a href="#" style="color:#00bfff; text-decoration:none;">{{ product.product_name }}</a></td>
                <td><span class="category-badge">{{ product.product_category }}</span></td>
                <td>${{ product.unit_price|floatformat:2 }}</td>
                <td>{{ product.quantity_on_hand }}</td>
                <td>
                    {% if product.quantity_on_hand > 50  %}
                        <span class="status-badge status-active">
                            <span class="status-icon">✓</span> In Stock
                        </span>
                    {% elif product.quantity_on_hand <= 50 %}
                        <span class="status-badge status-low">
                            <span class="status-icon">!</span> Low Stock
                        </span>
                    {% endif %}
                </td>
                <td>
                    <!--Reorder Button: visible only when low stock-->
                    {% if product.quantity_on_hand <= 50 %}
                        <form method="post" action="{% url 'auroraadmin:product' %}" style="display:inline">
                            {% csrf_token %}
                            <!--action and pk values tells the view which action to perform and which user to update respectively-->
                            <input type="hidden" name="pk" value="{{ product.sku_code }}">
                            <input type="hidden" name="action" value="reorder">
                            <!--q/category - preserves the current search/filter state so after the {POST + redirect}, we can get back the same state -->
                            <input type="hidden"name="q" value="{{ search_query | default:'' }}">
                            <input type="hidden" name="category" value="{{ selected_category | default:'' }}">
                            <button type="submit" class="action-button" style="background: orange; color: whitesmoke; border: 1px solid orange;">
                                Reorder +{{ product.reorder_quantity }}
                            </button>
                        </form>
                    {% endif %}

                    <!-- Delete button -->
                    <a href="{% url 'auroraadmin:product_delete' product.sku_code %}" 
                        class="action-button" 
                        style="margin-left:8px; background:#d9534f; color:#fff; border:1px solid #d9534f; text-decoration:none; padding:6px 8px; border-radius:6px;">
                        Delete
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" style="text-align:center; padding: 40px;">No products found in the inventory.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main_content %}